ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A62E15;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #CA7E6F;
  }
  body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.header{
    top: 0;
    width: 100%;
    margin: 0 auto;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A62E15;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #CA7E6F;
  }
.footer{
    bottom: 0;
    width: 100%;
    margin: 0
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}    
/* Some more styles to beutify this example */
