  body{        
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.header{
    top: 0;
    width: 100%;
    margin: 0;
    position: relative;
  
}
.nav-ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: rgb(59, 59, 61);
  }
  
.nav-li {
    padding-right: 10px;
    float: right;
    align-items: inherit;
}
  
.nav-li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align:center;
    padding: 15px 15px;
    text-decoration: none;
}
.link {
    list-style: none;
}
.link a{
    
    align-items: center;
}
.link a:hover {
    background-color: #0ac577;
}
.footer{
    bottom: 0;
    width: 100%;
    position: fixed;      
    background: rgb(59, 59, 61);
    padding-right: 10px;
}    
.box{
    display: flex;
  align-items: center;
  justify-content: center;
}
.box div {
    width: 100px;
    height: 100px;
  }