  body{        
    padding-top: 5px;
    padding-bottom: 40px;
}
.header{
    top: 0;
    width: 100%;
    margin: 0;
    position: relative;
  
}
.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(117, 26, 221);
  }
  
  .nav-li {
    float: right;
    align-items: inherit;
  }
  
  .nav-li a {
    display: block;
    color: rgb(233, 41, 185);
    text-align:justify;
    padding: 15px 15px;
    text-decoration: none;
  }
  button {
	border: none;
	padding: 1.1em 1em;
	font-weight:bold;
	border-radius: 0px;
width:200px
}

  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #CA7E6F;
  }
.footer{
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;  
    overflow: hidden;     
    background: rgb(117, 26, 221);
}    
/* Some more styles to beutify this example */
